<div style="margin-top: 20px;">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Best Seller</h2>
        </div>
        <ul class="timeline">
            <li><a href="../../assets/img/dark_latte.webp" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/dark_latte.webp"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Dark Latte</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Hòa quyện giữa vị đắng dịu của espresso và vị béo ngậy của sữa, Dark Latte mang đến một cảm giác ấm áp và mạnh mẽ, lý tưởng cho những ngày cần sự tỉnh táo.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <a href="../../assets/img/cold_brew_vai.webp" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/cold_brew_vai.webp"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Cold Brew Vải</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Sự kết hợp hoàn hảo giữa cà phê ủ lạnh thanh mát và vị ngọt thơm của vải, tạo nên một ly đồ uống sảng khoái, quyến rũ trong từng ngụm.</p>
                    </div>
                </div>
            </li>
            <li>
                <a href="../../assets/img/phin_sua.webp" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/phin_sua.webp"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Phin sữa</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Từng giọt cà phê phin đậm đà nhỏ xuống hòa quyện với sữa đặc ngọt ngào, gợi nhớ hương vị truyền thống Việt Nam đầy hoài niệm.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <a href="../../assets/img/tra_vai.webp" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/tra_vai.webp"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Trà Vải</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Ly trà thanh mát, nhẹ nhàng kết hợp với vị ngọt tự nhiên của vải, mang đến cảm giác dịu dàng và thư thái, như một làn gió hè trong lành.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image">
                    <h4>
                        Be Part
                        <br />
                        Of Our
                        <br />
                        Café!
                    </h4>
                </div>
            </li>
        </ul>
    </div>
</div>