.float-right {
    float: right;
}

mat-card {
    background-color: #ada07a;
    color: white;
    padding: 20px;
}

mat-label {
    color: white;
    font-style: italic;
}

table {
    width: 100%;
}

::ng-deep .highlight {
    color: white;
    background: #673ab7;
}